* {
	font-family: "Coming soon";
}
body {
	font-family: "Coming soon";
}
.postcard {
	background-color: white;
	width: 400px;
	height: 305px;
	margin: auto;
	border: 20px solid black;
}
.postcard-header {
	display: flex;
	align-items: center;
	height: 75px;
	margin-left: 8px;
}
.postcard-header img {
	width: 60px;
	height: 45px;
	margin-right: 5px;
}
.postcard-header h2 {
	width: 450px;
	height: 50px;
	margin-left: 5px;
	font-weight: bolder;
	margin-top: 35px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
}
.body-left,
.body-right {
	padding: 5px;
}
.body-left {
	font-weight: bolder;
	font-size: 85%;
	width: 540px;
	margin-left: 8px;
}

.body-right form input {
	border: none;
	border-bottom: 1px solid grey !important;
}
.postcard-footer {
	text-align: center;
	width: 400px;
	height: 50px;
}
button {
	background-color: darkgrey;
	padding: 5px;
	font-family: "Coming soon";
	border: none;
	border-bottom: 1px solid black;
}
